<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Test Test</title>
    <script type='text/javascript'>
piAId = '474872';
piCId = '51342';
piHostname = 'firstpartytracking.crakage.com';

(function() {
	function async_load(){
		var s = document.createElement('script'); s.type = 'text/javascript';
		s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + piHostname + '/pd.js';
		var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	}
	if(window.attachEvent) { window.attachEvent('onload', async_load); }
	else { window.addEventListener('load', async_load, false); }
})();
</script>
</head>
<body>
    <h1>Oh boy time to test</h1>
    <br /><a onclick="javascript:optOut();" href="#"> Opt Out </a>
    <br /><a onclick="javascript:optIn();" href="#"> Opt In </a>
    <script>
            function optOut() {
                var title = document.title;
                var url = document.URL;
                var referrer = document.referrer;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.src = "https://firstpartytracking.crakage.com/analytics?ver=3"+"&visitor_id="+"&visitor_id_sign="+"&title="+title+"&url="+url+"&referrer="+referrer+"&campaign_id=51342&account_id=474872&pi_opt_in=false"
                var c = document.getElementsByTagName('script')[0];
                c.parentNode.insertBefore(s, c);
            }
            function optIn() {
                var title = document.title;
                var url = document.URL;
                var referrer = document.referrer;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.src = "https://firstpartytracking.crakage.com/analytics?ver=3"+"&visitor_id="+"&visitor_id_sign="+"&title="+title+"&url="+url+"&referrer="+referrer+"&campaign_id=51342&account_id=474872&pi_opt_in=true"
                var c = document.getElementsByTagName('script')[0];
                c.parentNode.insertBefore(s, c);
            }


        </script>

</body>
</html>